@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --bg-main: #0f1216;
  --bg-card: #141a20;
  --accent: #dff870;
  --discord-pallete: #7289da;
  --text-main: #ffffff;
  --text-muted: #9aa4ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-main);
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar ul {
  display: flex;
  gap: 5px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 22px;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--accent);
}



.navbar-img {
  margin-left: -50px;
  padding: 10px 30px;
  display: flex;
  gap: 13px;
}

.navbar-img img {
  gap: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.navbar-img .discord-username {
  color: var(--accent);
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: none;
  border: none;
  color: var(--text-main)
}

.navbar button:hover {
  color: var(--accent);
}


/* Sidebar kanan */
.sidebar {
  z-index: -10;
  width: 525px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  right: -525px;  /* sembunyi di kanan */
  transition: 1.0s;
  padding-top: 90px;
}

.sidebar ul{
  list-style: none;
  display: block;
}

.sidebar a {
  display: block;
  padding: 20px;
  color: var(--text-main)
}

.sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Aktif */
.sidebar.active {
  right: 0;
}

.hero {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.9)
    ),
    url("../images/image1.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 80px;
}


.hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: -25px;
}

.hero-content .hero-name {
  color: var(--accent);
}

.skill .nothing {
  color: var(--text-main);
}

.experience .job {
  color: var(--accent)
}

.hero-content p {
  font-size: 20px;
  margin: 10px 0;
  color: var(--text-muted);
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid var(--accent);
  color: var(--accent);
  transition: 0.3s;
}

.btn.primary {
  background: var(--accent);
  color: var(--bg-main)
}

.btn:hover {
  opacity: 0.8;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 80px;
  background: var(--bg-card);
  gap: 60px;
}

.about .about-name {
  color: var(--accent);
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  color: var(--text-muted);
  max-width: 500px;
}

.about-image {
  background: url("profile.jpg") center/cover no-repeat;
  filter: grayscale(100%);
}

.resume {
  padding: 100px 80px;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  background: var(--bg-card);
  padding: 30px;
  border-radius: 10px;
}

.card span {
  color: var(--accent);
}

.card h3 {
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  font-size: 13px;
}

.progress {
  background: #1c2228;
  height: 6px;
  border-radius: 3px;
  margin-top: 5px;
  overflow: hidden;
}

.progress div {
  height: 100%;
  background: var(--accent);
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.icons i {
  font-size: 18px;
  color: var(--text-muted);
  transition: 0.3s;
}

.icons i:hover {
  color: var(--accent);
}

@media (max-width: 900px) {
  .hero,
  .about,
  .resume {
    padding: 60px 30px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .resume-grid {
    grid-template-columns: 1fr;
  }

  .hero-content h1 {
    font-size: 42px;
  }
}

.discord {
  margin-top: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  width: 100%;
  height: 75vh;
  gap: 50px;
}

.discord-text {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 65%;
  height: 100%;
  border-radius: 12px;
}

.discord-text .dc-text {
  color: var(--discord-pallete);
}

.discord-text .yellow-text {
  color: var(--accent);
}

.discord2 {
  margin-top: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  width: 100%;
  height: 75vh;
  gap: 50px;
}

.discord-text2 {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 65%;
  height: 100%;
  border-radius: 12px;
}

.discord-text2 .dc-text2 {
  color: var(--discord-pallete);
}

.discord-text2 .yellow-text {
  color: var(--accent);
}


.discord-content {
  background: var(--bg-card);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  border-radius: 12px;
}

.discord-content iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

