@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --bg-main: #0f1216;
  --bg-card: #141a20;
  --accent: #dff870;
  --discord-pallete: #7289da;
  --text-main: #ffffff;
  --text-muted: #9aa4ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-main);
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.navbar ul {
  margin-left: 900px;
  margin-right: -325px;
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 25px;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--accent);
}

@keyframes putar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar .profile-picture { 
  position: fixed;
  padding: 150px 25px;
  z-index: 60;
  display: flex;
  animation: putar 10s linear infinite;
}

.sidebar .profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.5);
}

.menu-btn {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: none;
  border: none;
  color: var(--text-main)
}

.navbar button:hover {
  color: var(--accent);
}

.sidebar {
  z-index: 50;
  width: 375px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: -375px;
  transition: 0.6s;
}

.sidebar-header {
  justify-content: flex-end;
  min-height: 75px;
  background:
    linear-gradient(
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.4)
    ),
    url("../images/header.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
}

.sidebar-btn {
  padding: 15px 0px;
  margin-bottom: 130px;
  margin-right: 35px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: none;
  border: none;
  color: var(--text-main);
}

.sidebar button:hover {
  color: var(--accent);
}

.sidebar-menu {
  padding: 60px 0px;
}

.sidebar .member-since-dc {
  margin-top: 5px;
  display: flex;
  padding: 0px 25px;
}

.sidebar .member-since-dc i {
  display: flex;
  margin-top: 2px;
}

.sidebar .member-since-dc p {
  padding-left: 5px;
}

.sidebar-menu h2 {
  color: var(--accent);
  padding: 5px 25px;
}

.sidebar-menu p {
  padding: 0px 25px;
}

.sidebar-menu ul{
  list-style: none;
  display: block;
}

.sidebar-menu a {
  font-size: 17px;
  text-decoration: none ;
  display: block;
  padding: 25px 40px;
  color: var(--text-main)
}

.sidebar-menu a:hover {
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar.active {
  right: 0;
}

.hero {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.9)
    ),
    url("../images/image1.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: -25px;
}

.hero-content .hero-name {
  color: var(--accent);
}

.skill .nothing {
  color: var(--text-main);
}

.experience .job {
  color: var(--accent)
}

.hero-content p {
  font-size: 20px;
  margin: 10px 0;
  color: var(--text-muted);
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid var(--accent);
  color: var(--accent);
  transition: 0.3s;
}

.btn.primary {
  background: var(--accent);
  color: var(--bg-main)
}

.btn:hover {
  opacity: 0.8;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 80px;
  background: var(--bg-card);
  gap: 60px;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  color: var(--text-muted);
  max-width: 500px;
}

.about-image {
  background: url("profile.jpg") center/cover no-repeat;
  filter: grayscale(100%);
}

.resume {
  padding: 100px 80px;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  background: var(--bg-card);
  padding: 30px;
  border-radius: 10px;
}

.card span {
  color: var(--accent);
}

.card h3 {
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  font-size: 13px;
}

.progress {
  background: #1c2228;
  height: 6px;
  border-radius: 3px;
  margin-top: 5px;
  overflow: hidden;
}

.progress div {
  height: 100%;
  background: var(--accent);
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.icons i {
  font-size: 18px;
  color: var(--text-muted);
  transition: 0.3s;
}

.icons i:hover {
  color: var(--accent);
}

@media (max-width: 900px) {
  .hero,
  .about,
  .resume {
    padding: 60px 30px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .resume-grid {
    grid-template-columns: 1fr;
  }

  .hero-content h1 {
    font-size: 42px;
  }
}

.discord {
  margin-top: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  width: 100%;
  height: 75vh;
  gap: 50px;
}

.discord-text {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 65%;
  height: 100%;
  border-radius: 12px;
}

.discord-text .dc-text {
  color: var(--discord-pallete);
}

.discord-text .yellow-text {
  color: var(--accent);
}

.discord-content {
  background: var(--bg-card);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  border-radius: 12px;
}

.discord-content iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

